@use "public/sass/abstracts/index" as *;
@use "public/sass/pages/landing/index" as *;

.app_timer {
  width: 100%;
  height: calc(100vh - $navbar-h - 0.5rem);
  margin: auto;
  display: flex;

  &_main {
    position: relative;
    width: 80%;
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen("lg") {
      width: 100%;
      gap: rem;
    }

    &_intro {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2.5rem auto;

      @include screen("sm") {
        button {
          font-size: 1rem !important;
        }
      }
    }

    &_tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &_body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      &_pomodoro {
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        border: 6px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(236, 244, 255, 0.6);

        @include screen("sm") {
          height: 15rem;
          width: 15rem;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(236, 244, 255, 1);
        }

        &_content {
          margin-top: 50%;
          transform: translateY(-50%);

          .timer {
            font-size: 6rem;

            @include screen("sm") {
              font-size: 3rem;
            }
          }

          .level {
            font-size: 1.5rem;
          }
        }
      }
    }

    &_media {
      display: flex;
      // position: absolute;

      align-items: flex-end;
      justify-content: center;
      height: 10rem;
      width: 100%;

      &_music_player {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;
        width: fit-content;
        margin: auto;
        background-color: #f5f6f7;
        padding: 1rem;
        border-radius: 4px;

        @include screen("md") {
          margin-top: auto !important;
        }

        &_media_groups {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: center;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 9rem;
            width: 6rem;
            color: #cbd5e1;
            font-size: medium;
            font-weight: 500;

            border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

            &.preview {
              height: 5rem;
              width: 4rem;
            }

            .image-over {
              width: 70px;
              height: 100%;
              cursor: pointer;

              &:hover {
                transform: scale(1.05);
                transition: transform 0.3s ease;
              }
            }
          }
        }

        &_media_controls {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          width: 15rem;

          .control-button {
            width: 2rem;
            height: 2rem;

            :hover {
              transform: scale(1.05);
              transition: transform 0.7s ease-in-out;
            }
          }
        }
      }
    }
  }

  &_tasks {
    width: 35%;
    height: 100%;
    border-left: 1px solid #cbd5e1;
    margin-top: 5px;
    padding: 1rem;

    @include screen("lg") {
      display: none;
    }
  }
}
