// @use "../landing/index" as *;

.app_todo {
  width: 100%;
  height: 100%;
  display: block;
  max-height: calc(100vh - var(--navbar-h));

  &_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 2rem;

    &_header {
      text-align: start;
      width: 98%;
      margin: auto;
      padding-bottom: 1.5rem;
    }

    &_board {
      width: 95%;
      height: 100%;
      margin: 0 auto 0.5rem auto;
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

      &_item {
        position: relative;
        height: 100%;

        &_list {
          overflow-y: scroll;
          padding-inline: 2px;
          height: calc(70vh - var(--navbar-h));

          // max-height: 40rem;

          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
